html {
	background: #083B61;
}
body {
	font-family: Tahoma;
	color: #083B61;
	background: #083B61;
	margin: 0;
}
a {
	text-decoration: none;
	outline: none;
	color: #083B61; 
}
header {
	background: #052135;
	height:239px;
	border-bottom:2px solid #fbfbfb;
	box-shadow: 0 2px 9px 0px #000;
	position: relative;
	text-align: center;
	z-index: 1;
}
header img.header {
	position: absolute;
	display: block;
	margin: 0px 0 0 -493px;
	left: 50%;
}
header .flag {
	top: 43px;
	left: 50%;
	margin: 0 0 0 160px;
	width:  69px;
	height:  46px;
	position: absolute;
}
.he header .flag {
	right:50%;
	margin: 0 0 0 -200px;
}
article {
	margin:-120px auto 43px;
	width: 970px;
	z-index: 10;
	position: relative;
}
h1 {
	background: url(images/titlebg.png) 0 0 repeat-x;
	color: #fff;
	line-height: 47px;
	height: 47px;
	border-bottom: 1px solid #000;
	font-size: 32px;
	text-indent: 95px;
	text-shadow: 0 1px 3px #000;
	filter: dropshadow(color=#000, offx=0, offy=1);
	letter-spacing: 3px;
}
.he h1 {
	direction: rtl;
}
#rotation {
	background: #fff;
	border: solid #000;
	border-width: 1px 0 0 1px;
	height: 245px;
	overflow: hidden;
}
#rotation img {
	position: relative;
	width: 969px;
	height: auto;
	display: block;
	z-index: 1;
	float: left;
	margin: -1px 0 -285px 0;
}
#rotation img:first-child {
	z-index: 10;
}
#strip1 {
	z-index: 100;
	position: absolute;
	background: url(images/middlestrip.png) -18px 0 no-repeat;
	width: 985px;
	height: 125px;
	margin:-36px -14px 0 0;
}
.he #strip1 {
	background: url(images/middlestrip-rtl.png) -18px 0 no-repeat;
	margin:-36px 0 0 -12px;
}
#strip1 span {
	text-align: center;
	float: right;
	color: #313e50;
	font-size: 16px;
	width: 480px;
	margin: 49px 0 0 15px;
	height: 100px;
}
.he #strip1 span {
	float: left;
}

#strip1 span b {
	display: block;
	font-size: 31px;
	font-weight: normal;
}
#strip1 h2 {
	color: #fff;
	width: 480px;
	float: left;
	line-height: 100px;
	font-size: 32px;
	text-shadow: 0 1px 2px #000;
	text-align: center;
	margin: 20px 0 0 0;
}
.he #strip1 h2 {
	float: right;
}
article > section {
	background: #fff;
	margin-top: 79px;
	padding: 0 11px 11px;
}
#left {
	margin-top: 15px;
	background: url(images/leftbg.png) 0 0 repeat-x #fff;
	float: left;
	border: 1px solid #000;
	width: 460px;
	height: 357px;
}
.he #left {
	float: right;
}
#left > * {
	margin-left: 15px;
}
.he #left > * {
	margin-left: 0;
	margin-right: 15px;
	direction: rtl;
}
#left h2 {
	line-height: 72px;
	font-size: 30px;
	text-shadow: 0 1px 1px #666;
}
#left span {
	height: 40px;
	line-height: 40px;
	text-indent: 45px;
	background: url(images/plus.png) 0 0 no-repeat;
	float: left;
	width: 215px;
	outline: none;
	font-size: 13px;
}
.he #left span {
	background-position: 100% 0;
}
#left h3 {
	padding-top: 25px;
	line-height: 47px;
	font-size: 34px;
}
#left b {
	padding: 10px 0;
	display: block;
	line-height: 30px;
	font-size: 16px;
	font-weight: normal;
}
#left p {
	line-height: 16px;
	margin-right: 80px;
	font-size: 12px;
}

hr {
	height: 0;
	border: none;
	background: transparent;
	clear: both;
	margin: 0;
}
#rite {
	background: #313e50;
	border: 1px solid #000;
	font-weight: bold;
	width: 470px;
	height: 373px;
	margin: 0 0 0 10px;
	float: left;
}
.he #rite  {
	margin:0;
	direction: rtl;
}
label {
	margin: 20px 0 0 30px;
	display: block;
	color: #fff;
	width: 410px;
	height: 30px;
}
.he label {
	margin: 20px 30px 0 0;
}
select, textarea, input { 
	height: 30px;
	background: #fff;
	border: 1px solid #000;
	text-indent: 5px;
	float: right;
	width: 210px;
}
.he select, .he textarea, .he input { 
	float: left;
}
.error {
	color: red;
	border-color: red;
}
select {
	height: 33px;
	width: 213px;
}
.email {
	display: none;
}
textarea {
	height: 60px;
	width: 207px;
}
button {
	background: url(images/formstrip.png);
	width: 492px;
	height: 126px;
	border: none;
	font-size: 34px;
	color: #000;
	line-height: 100px;
	text-transform: uppercase;
	margin: 0 0 0 -11px;
	padding-top: 20px;
	cursor: pointer;
}


#services {
	background: url(images/bottombg.png) 0 0 repeat-x #fff;
	border: 1px solid #000;
	margin-top: 20px;
}
.pages {
	display: none;
}
#services nav {
	background: url(images/botmenubg.png) 0 0 repeat-x;
	height:44px;
}
#services nav a {
	color: #fff;
	display: inline-block;
	height: 44px;
	border-left: 1px solid #fff;
	text-align: center;
	font-size: 18px;
	line-height: 44px;
	width: 230px;
}
.he .pages , 
.he #services nav a {
	direction: rtl;
}
#services nav a:first-child {
	border: none;
}
#services h2 {
	line-height: 50px;
	font-size: 34px;
	margin: 0 15px;
}
#services p {
	font-size: 12px;
	margin: 0 15px 20px 15px;
	line-height: 17px;
}
footer {
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	background:#052135;
	font-size: 16px;
	text-align: center;
	padding: 15px 0;
	z-index: 100;
}
footer p {
	width: 960px;
	margin: 0 auto;
}
footer p > * {
	display: inline-block;
	line-height: 20px;
	padding: 0 10px;
	color: #fff;
	float: left;
}
footer a {
	color: #fff;
	text-decoration: underline;
}
footer span {
	float: right;
}
.lb {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0px;
	right: 0;
	bottom: 0;
	background: rgba(5,33,53,0.9);
	text-align: left;
	font-size: 40px;
	vertical-align: middle;
	color: #fff;
	display:none;
	padding-top: 100px;
}
